#
## General behavior
#

# Make vim the default editor
export EDITOR="emacs -nw";

#
## LESS behavior
#

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# For that matter, don't ever clear the screen
export LESS="-X";

#
## BASH behavior
#

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:history";
