.DS_Store
.config/karabiner/automatic_backups
.config/TabNine/*
*.gpg*
*keys*
vscode/*[Ee]xtension*
vscode/languagepacks.json
vscode/logs
vscode/machineid
vscode/User
id_rsa*
known_hosts
marketplace-all.txt
pub*
